<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <style>
        .title {
            font-size: 18px;
            font-weight: bold;
            margin-right: 10px;
        }

        td {
            width: 320px; /*需要配合宽度来使用*/
            overflow: hidden; /*超出部分隐藏*/
            text-overflow: ellipsis; /* 超出部分显示省略号 */
            white-space: nowrap; /*规定段落中的文本不进行换行 */
            line-height: 26px;
        }

        a {
            padding-left: 25px;
            text-decoration: none;
        }

        .dir {
            background: url('images/dir.png') left top no-repeat;
        }

        .file {
            background: url('images/file.png') left top no-repeat;
        }

        .up {
            background: url('images/up.png') left top no-repeat;
        }
    </style>
</head>
<body>
<table id="list">
    <tr>
        <td colspan="3" style="border-bottom: 1px solid #000;padding: 10px 0;">
            <input type="file" name="file" id="file" style="display: none" @change="doUpload(path)">
            <span class="title">文件列表</span>
            <button @click="upload()" id="uploadBtn">上传</button>
            <button @click="newFolder(path)">新建文件夹</button>
            <span style="color: #666">(* 文件名或文件夹不要有空格)</span>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="padding: 10px 0;">
            <a class="up" href="javascript:;" @click="back(path)">[上级目录]</a>
        </td>
    </tr>
    <tr>
        <td>
            搜索：<input type="text" name="searchName" id="searchName" placeholder="输入文件名称" @keyup.enter="searchFile()">
        </td>
    </tr>
    <tr>
        <td>文件/目录</td>
        <td>大小</td>
        <td>修改日期</td>
        <td>操作</td>
    </tr>
    <tr v-for="file in files">
        <td>
            <a class="dir" href="javascript:;" v-if="file.isDirectory" v-text="file.name+'/'"
               @click="goto(file.isDirectory,file.path)"></a>
            <a class="file" href="javascript:;" v-else v-text="file.name" @click="goto(file.isDirectory,file.path)"></a>
        </td>
        <td v-text="change(file.length)"></td>
        <td v-text="formatDateTime(file.lastModified)"></td>
        <td><a href="javascript:;" @click="remove(file.path)" style="padding-left: 0">删除</a></td>
    </tr>
</table>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var table = new Vue({
        el: "#list",
        data: {
            path: "",
            files: []
        },
        methods: {
            loadList: function (path, name) {
                axios.get('/list?path=' + path + '&name=' + name)
                    .then(function (response) {
                        //console.log(response);
                        if (response.data.code == 1) {
                            table.path = response.data.data.path;
                            table.files = response.data.data.list;
                        }
                    });
            },
            goto: function (isDirectory, path) {
                if (isDirectory) {
                    table.loadList(path, "");
                } else {
                    window.location.href = "/download?path=" + path;
                }
            },
            back: function (path) {
                axios.get('/back?path=' + path)
                    .then(function (response) {
                        //console.log(response);
                        if (response.data.code == 1) {
                            table.path = response.data.data.path;
                            table.files = response.data.data.list;
                        }
                    });
            },
            refresh: function (path) {
                table.goto(true, path);
            },
            change: function (limit) {
                var size = "";
                if (limit < 0.1 * 1024) {                            //小于0.1KB，则转化成B
                    size = limit.toFixed(2) + " B"
                } else if (limit < 0.1 * 1024 * 1024) {            //小于0.1MB，则转化成KB
                    size = (limit / 1024).toFixed(2) + " KB"
                } else if (limit < 0.1 * 1024 * 1024 * 1024) {        //小于0.1GB，则转化成MB
                    size = (limit / (1024 * 1024)).toFixed(2) + " MB"
                } else {                                            //其他转化成GB
                    size = (limit / (1024 * 1024 * 1024)).toFixed(2) + " GB"
                }

                var sizeStr = size + "";                        //转成字符串
                var index = sizeStr.indexOf(".");                    //获取小数点处的索引
                var dou = sizeStr.substr(index + 1, 2)            //获取小数点后两位的值
                if (dou == "00") {                                //判断后两位是否为00，如果是则删除00
                    return sizeStr.substring(0, index) + sizeStr.substr(index + 3, 2)
                }
                return size;
            },
            formatDateTime: function (time) {
                var date = new Date(time);
                var year = date.getFullYear();  //取得4位数的年份
                var month = date.getMonth() + 1;  //取得日期中的月份，其中0表示1月，11表示12月
                var day = date.getDate();      //返回日期月份中的天数（1到31）
                var hour = date.getHours();     //返回日期中的小时数（0到23）
                var minute = date.getMinutes(); //返回日期中的分钟数（0到59）
                var second = date.getSeconds(); //返回日期中的秒数（0到59）
                return year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
            },
            upload: function () {
                var uploadBtn = document.getElementById("uploadBtn");
                if (uploadBtn.innerHTML === "上传") {
                    document.getElementById("file").click();
                }
            },
            /**
             * 上传文件
             * @param path
             */
            doUpload: function (path) {
                var param = new FormData();
                param.append("path", path);
                param.append("file", document.getElementById("file").files[0]);
                // 发送请求
                var xhr = new XMLHttpRequest();
                xhr.open('post', '/upload', true);
                xhr.upload.onprogress = function (ev) {
                    var percent = 0;
                    if (ev.lengthComputable) {
                        percent = Math.round(100 * ev.loaded / ev.total);
                        var uploadBtn = document.getElementById("uploadBtn");
                        uploadBtn.innerHTML = percent + "%";
                        if (percent === 100) {
                            uploadBtn.innerHTML = "上传";
                        }
                    }
                };
                xhr.onerror = function (ev) {
                    document.getElementById("uploadBtn").innerHTML = "上传";
                    alert("服务器异常");
                };
                xhr.send(param);
                xhr.onreadystatechange = function (ev) {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var data = JSON.parse(xhr.response);
                        if (data.code == 1) {
                            table.refresh(path);
                        } else {
                            alert("上传失败");
                        }
                    }
                };
            },
            newFolder: function (path) {
                var name = window.prompt("文件夹名称：");
                if (name == null || typeof name == "undefined") {
                    return false;
                }
                axios.get('/new?path=' + path + '&name=' + name)
                    .then(function (response) {
                        if (response.data.code == 1) {
                            table.refresh(path);
                        }
                    })
                    .catch(function (error) {
                        alert("服务器异常");
                    });
            },
            remove: function (path) {
                if (window.confirm("危险操作，是否继续？")) {
                    axios.get('/delete?path=' + path)
                        .then(function (response) {
                            if (response.data.code == 1) {
                                table.refresh(table.path);
                            }
                        })
                        .catch(function (error) {
                            alert("服务器异常");
                        });
                }
            },
            /**
             * 搜索文件
             */
            searchFile: function () {
                var searchName = document.getElementById("searchName").value;
                table.loadList(table.path, searchName);
            }
        },
        mounted: function () {
            axios.get('/list')
                .then(function (response) {
                    //console.log(response);
                    if (response.data.code == 1) {
                        table.path = response.data.data.path;
                        table.files = response.data.data.list;
                    }
                });
        }
    });
    // 监听刷新或强制刷新
    document.onkeydown = function (ev) {
        if (ev.key === "F5" || (ev.ctrlKey && ev.key === "F5") || (ev.ctrlKey && ev.key === "r")) {
            var uploadBtn = document.getElementById("uploadBtn");
            if (uploadBtn.innerHTML !== "上传") {
                var bool = window.confirm("当前正在上传文件，是否取消？");
                if (!bool) {
                    ev.key = null;
                    ev.returnValue = false;
                    ev.cancelBubble = true;
                    return false;
                }
            }
        }
    };
</script>
</body>
</html>