<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <style>
        .title {
            font-size: 18px;
            font-weight: bold;
            margin-right: 10px;
        }

        td {
            width: 320px;
            line-height: 26px;
        }

        a {
            padding-left: 25px;
            text-decoration: none;
        }

        .dir {
            background: url('images/dir.png') left top no-repeat;
        }

        .file {
            background: url('images/file.png') left top no-repeat;
        }

        .up {
            background: url('images/up.png') left top no-repeat;
        }
    </style>
</head>
<body>
<table id="list">
    <tr>
        <td colspan="3" style="border-bottom: 1px solid #000;padding: 10px 0;">
            <span class="title">文件列表</span>
            <button @click="refresh(path)">刷新</button>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 10px 0;">
            <a class="up" href="javascript:;" @click="back(path)">[上级目录]</a>
        </td>
    </tr>
    <tr>
        <td>名称</td>
        <td>大小</td>
        <td>修改日期</td>
    </tr>
    <tr v-for="file in files">
        <td>
            <a class="dir" href="javascript:;" v-if="file.isDirectory" v-text="file.name+'/'"
               @click="goto(file.isDirectory,file.path)"></a>
            <a class="file" href="javascript:;" v-else v-text="file.name" @click="goto(file.isDirectory,file.path)"></a>
        </td>
        <td v-text="change(file.length)"></td>
        <td v-text="formatDateTime(file.lastModified)"></td>
    </tr>
</table>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var table = new Vue({
        el: "#list",
        data: {
            path: "",
            files: []
        },
        methods: {
            goto: function (isDirectory, path) {
                if (isDirectory) {
                    axios.get('/list?path=' + path)
                        .then(function (response) {
                            //console.log(response);
                            if (response.data.code == 1) {
                                table.path = response.data.data.path;
                                table.files = response.data.data.list;
                            }
                        });
                } else {
                    window.location.href = "/download?path=" + path;
                }
            },
            back: function (path) {
                axios.get('/back?path=' + path)
                    .then(function (response) {
                        //console.log(response);
                        if (response.data.code == 1) {
                            table.path = response.data.data.path;
                            table.files = response.data.data.list;
                        }
                    });
            },
            refresh: function (path) {
                table.goto(true, path);
            },
            change: function (limit) {
                var size = "";
                if (limit < 0.1 * 1024) {                            //小于0.1KB，则转化成B
                    size = limit.toFixed(2) + " B"
                } else if (limit < 0.1 * 1024 * 1024) {            //小于0.1MB，则转化成KB
                    size = (limit / 1024).toFixed(2) + " KB"
                } else if (limit < 0.1 * 1024 * 1024 * 1024) {        //小于0.1GB，则转化成MB
                    size = (limit / (1024 * 1024)).toFixed(2) + " MB"
                } else {                                            //其他转化成GB
                    size = (limit / (1024 * 1024 * 1024)).toFixed(2) + " GB"
                }

                var sizeStr = size + "";                        //转成字符串
                var index = sizeStr.indexOf(".");                    //获取小数点处的索引
                var dou = sizeStr.substr(index + 1, 2)            //获取小数点后两位的值
                if (dou == "00") {                                //判断后两位是否为00，如果是则删除00
                    return sizeStr.substring(0, index) + sizeStr.substr(index + 3, 2)
                }
                return size;
            },
            formatDateTime: function (time) {
                var date = new Date(time);
                var year = date.getFullYear();  //取得4位数的年份
                var month = date.getMonth() + 1;  //取得日期中的月份，其中0表示1月，11表示12月
                var day = date.getDate();      //返回日期月份中的天数（1到31）
                var hour = date.getHours();     //返回日期中的小时数（0到23）
                var minute = date.getMinutes(); //返回日期中的分钟数（0到59）
                var second = date.getSeconds(); //返回日期中的秒数（0到59）
                return year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
            }
        },
        mounted: function () {
            axios.get('/list')
                .then(function (response) {
                    //console.log(response);
                    if (response.data.code == 1) {
                        table.path = response.data.data.path;
                        table.files = response.data.data.list;
                    }
                });
        }
    });
</script>
</body>
</html>