<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
</head>
<body>
<table id="fileList">
    <tr>
        <td>文件</td>
    </tr>
    <tr>
        <td><a href="javascript:;" @click="up">..</a></td>
    </tr>
    <tr v-for="item in list">
        <td>
            <a href="javascript:;" @click="goto(item.isDirectory,item.path)" v-text="item.name"></a>
        </td>
    </tr>
</table>
<script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script src="../static/js/axios.min.js" th:src="@{/js/axios.min.js}"></script>
<script>
    var vue = new Vue({
        el: "#fileList",
        data: {
            list: [],
            currentPath: null
        },
        methods: {
            goto: function (isDirectory, path) {
                if (isDirectory) {
                    axios
                        .get('/list?path=' + path)
                        .then(function (response) {
                            vue.list = response.data.list;
                            vue.currentPath = response.data.currentPath;
                        });
                } else {
                    window.location.href = "/download?path=" + path
                }
            },
            up: function () {
                axios
                    .get('/list?currentPath=' + vue.currentPath)
                    .then(function (response) {
                        vue.list = response.data.list;
                        vue.currentPath = response.data.currentPath;
                    });
            }
        },
        mounted: function () {
            axios
                .get('/list')
                .then(function (response) {
                    vue.list = response.data.list;
                    vue.currentPath = response.data.currentPath;
                });
        }
    });
</script>
</body>
</html>